<ul class="nav-menu">
    
    <li class="submenu">
    <a href="{% url 'index_page' %}"
        ><i class="ti ti-layout-grid fs-16 me-2"></i
        ><span> Main Menu</span> <span class="menu-arrow"></span
    ></a>
    <ul>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Dashboard</span> <span class="menu-arrow"></span
        ></a>
        <ul>
            <li><a href="{% url 'index_page' %}">Dashboard</a></li>
        </ul>
        </li>
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-layout-grid fs-16 me-2"></i
        ><span>Sales</span> <span class="menu-arrow"></span
    ></a>
    <ul>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Sales</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'record_sale' %}"
                ><span>Record Sale</span></a
            >
            </li>
            <li>
            <a href="{% url 'sales_list' %}"
                ><span>Sales List</span></a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                ><span>Sales Return</span></a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                ><span>Quotation</span></a
            >
            </li>
        </ul>
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Customer</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'customer_list' %}"
                ><span>Manage Customers</span></a
            >
            </li>
            <li>
            <a href="#"><span>Payments</span></a>
            </li>
            <li>
            <a href="{% url 'customer_ledger_list' %}"
                ><span>Customer Ledgers</span></a
            >
            </li>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-users-group fs-16 me-2"></i
        ><span>Finance</span> <span class="menu-arrow"></span
    ></a>
    <ul>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Expenses</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'expense_list' %}">Expenses</a>
            </li>
            <li>
            <a href="{% url 'expensecategory_list' %}"
                >Expense Category</a
            >
            </li>
        </ul>
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Income</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}">Income</a>
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Income Category</a
            >
            </li>
        </ul>
        </li>
        <li>
        <a href="{% url 'bankaccount_list' %}"
            ><span>Bank Accounts</span></a
        >
        </li>
        <li>
        <a href="{% url 'banktransaction_list' %}"
            ><span>Bank Transactions</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Money Transfer</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Balance Sheet</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Trial Balance</span></a
        >
        </li>
        <li>
        <a href="{% url 'cashflow_list' %}"
            ><span>Cash Flow</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Account Statement</span></a
        >
        </li>
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-chart-bar fs-16 me-2"></i><span>Reports</span
        ><span class="menu-arrow"></span
    ></a>
    <ul>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Sales Report</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Sales Report</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Best Seller</a
            >
            </li>
        </ul>
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Purchase report</span></a
        >
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Customer Report</span
            ><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Customer Report</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Customer Due Report</a
            >
            </li>
        </ul>
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Supplier Report</span
            ><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Supplier Report</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Supplier Due Report</a
            >
            </li>
        </ul>
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Expense Report</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Income Report</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Tax Report</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Profit & Loss</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Annual Report</span></a
        >
        </li>
    </ul>
    </li>
</ul>