<ul class="nav-menu">
    
    <li class="submenu">
    <a href="{% url 'index_page' %}"
        ><i class="ti ti-layout-grid fs-16 me-2"></i
        ><span> Main Menu</span> <span class="menu-arrow"></span
    ></a>
    <ul>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Dashboard</span> <span class="menu-arrow"></span
        ></a>
        <ul>
            <li><a href="{% url 'index_page' %}">Dashboard</a></li>
            <li>
            <a href="{% url 'index_page' %}">Stores Dashboard</a>
            </li>
            <li>
            <a href="{% url 'index_page' %}"
                >Sales Dashboard</a
            >
            </li>
        </ul>
        </li>
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-brand-unity fs-16 me-2"></i
        ><span> Inventory </span> <span class="menu-arrow"></span
    ></a>
    <ul>
        <li>
        <a href="{% url 'manage_branch_page' %}">Branches </a>
        </li>
        <li>
        <a href="{% url 'all_stores_inventory' %}"><span>Stores</span></a>
        </li>
        <li>
        <a href="{% url 'add_category_page' %}"
            ><span>Category</span></a
        >
        </li>

        <li>
        <a href="{% url 'unit_of_measure_page' %}"
            ><span>Units</span></a
        >
        </li>
        <li>
        <a href="{% url 'products_page' %}"
            ><span>Products</span></a
        >
        </li>
        {% comment %} <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Expired Products</span></a
        >
        </li> {% endcomment %}
        {% comment %} <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Low s</span></a
        >
        </li> {% endcomment %}
        {% comment %} <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Print Barcode</span></a
        >
        </li> {% endcomment %}
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-layout-grid fs-16 me-2"></i
        ><span>Stock</span> <span class="menu-arrow"></span
    ></a>
    <ul>
        <li>
        <a href="{% url 'purchase_order_list' %}"
            ><span>Manage Stock</span></a
        >
        </li>
        <li>
        <a href="{% url 'transfer_request_list' %}"
            ><span>Stock Requests </span></a
        >
        </li>
        <li>
        <a href="{% url 'transfer_request_for_approval' %}"
            ><span>Manage Requisitions</span></a
        >
        </li>
        <li>
        <a href="{% url 'stock_transfer_list' %}"
            ><span>Stock Transfer</span></a
        >
        </li>
        <li>
        <a href="{% url 'stock_adjustment_list' %}"
            ><span>Stock Adjustment</span></a
        >
        </li>
        <li>
        <a href="{% url 'supplier_page' %}"
            ><span>Supplier</span></a
        >
        </li>
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-layout-grid fs-16 me-2"></i
        ><span>Sales</span> <span class="menu-arrow"></span
    ></a>
    <ul>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Sales</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'record_sale' %}"
                ><span>Record Sale</span></a
            >
            </li>
            <li>
            <a href="{% url 'sales_list' %}"
                ><span>Sales List</span></a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                ><span>Sales Return</span></a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                ><span>Quotation</span></a
            >
            </li>
        </ul>
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Customer</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'customer_list' %}"
                ><span>Manage Customers</span></a
            >
            </li>
            <li>
            <a href="#"><span>Payments</span></a>
            </li>
            <li>
            <a href="{% url 'customer_ledger_list' %}"
                ><span>Customer Ledgers</span></a
            >
            </li>
        </ul>
        </li>
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-page-break fs-16 me-2"></i
        ><span>Staff</span> <span class="menu-arrow"></span
    ></a>
    <ul>
        <li>
        <a href="{% url 'employee_profile_page' %}"
            ><span>Profile</span></a
        >
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Employees</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'employee_page' %}"
                ><span>Employees</span></a
            >
            </li>
            <li>
            <a href="{% url 'department_page' %}"
                ><span>Departments</span></a
            >
            </li>
            <li>
            <a href="{% url 'designation_page' %}"
                ><span>Designation</span></a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                ><span>Shifts</span></a
            >
            </li>
        </ul>
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Attendence</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Employee Attendence</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Admin Attendence</a
            >
            </li>
        </ul>
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Leaves &amp; Holidays</span
            ><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Admin Leaves</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Employee Leaves</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Leave Types</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                ><span>Holidays</span></a
            >
            </li>
        </ul>
        </li>
        <li class="submenu">
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Payroll</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Employee Salary</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}">Payslip</a>
            </li>
        </ul>
        </li>
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-users-group fs-16 me-2"></i
        ><span>Finance</span> <span class="menu-arrow"></span
    ></a>
    <ul>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Expenses</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'expense_list' %}">Expenses</a>
            </li>
            <li>
            <a href="{% url 'expensecategory_list' %}"
                >Expense Category</a
            >
            </li>
        </ul>
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Income</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}">Income</a>
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Income Category</a
            >
            </li>
        </ul>
        </li>
        <li>
        <a href="{% url 'bankaccount_list' %}"
            ><span>Bank Accounts</span></a
        >
        </li>
        <li>
        <a href="{% url 'banktransaction_list' %}"
            ><span>Bank Transactions</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Money Transfer</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Balance Sheet</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Trial Balance</span></a
        >
        </li>
        <li>
        <a href="{% url 'cashflow_list' %}"
            ><span>Cash Flow</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Account Statement</span></a
        >
        </li>
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-circle-plus fs-16 me-2"></i
        ><span>User Management</span><span class="menu-arrow"></span
    ></a>
    <ul>
        <li>
        <a href="{% url 'users_list_page' %}"
            ><span>Users</span></a
        >
        </li>
        <li>
        <a href="{% url 'roles_list_page' %}"
            ><span>Roles & Permissions</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Activity Logs</span></a
        >
        </li>
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-chart-bar fs-16 me-2"></i><span>Reports</span
        ><span class="menu-arrow"></span
    ></a>
    <ul>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Sales Report</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'branch_sales_report' %}"
                >Branch Sales Report</a
            >
            </li>
            <li>
            <a href="{% url 'sales_item_unit_report' %}"
                >Sales Item Report</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Best Seller</a
            >
            </li>
        </ul>
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Purchase report</span></a
        >
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Inventory Report</span
            ><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Inventory Report</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}">
                History</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}">Sold </a>
            </li>
        </ul>
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Invoice Report</span></a
        >
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Supplier Report</span
            ><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Supplier Report</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Supplier Due Report</a
            >
            </li>
        </ul>
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Customer Report</span
            ><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Customer Report</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Customer Due Report</a
            >
            </li>
        </ul>
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Product Report</span
            ><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Product Report</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Product Expiry Report</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Product Quantity Alert</a
            >
            </li>
        </ul>
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Expense Report</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Income Report</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Tax Report</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Profit & Loss</span></a
        >
        </li>
        <li>
        <a href="{% url 'under_maintenance_page' %}"
            ><span>Annual Report</span></a
        >
        </li>
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-settings fs-16 me-2"></i><span>Settings</span
        ><span class="menu-arrow"></span
    ></a>
    <ul>
        <li>
        <a href="{% url 'settings_page' %}">Company Profile </a>
        </li>

        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>App Settings</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li class="submenu submenu-two">
            <a href="javascript:void(0);"
                >Invoice<span class="menu-arrow inside-submenu"></span
            ></a>
            <ul>
                <li><a href="#">Invoice Settings</a></li>
                <li><a href="#">Invoice Template</a></li>
            </ul>
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}">Printer</a>
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Signatures</a
            >
            </li>
        </ul>
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Financial Settings</span
            ><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Payment Methods</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Bank Accounts</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Currencies</a
            >
            </li>
        </ul>
        </li>
        <li>
        <a href="{% url 'logout' %}"
            ><span>Logout</span>
        </a>
        </li>
    </ul>
    </li>
</ul>