<!DOCTYPE html>
{% load static %}
<html lang="en" data-layout="horizontal">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is a powerful  Inventory Management designed for businesses, offering seamless invoicing, project tracking, and estimates."
    />
    <meta
      name="keywords"
      content="inventory management, admin dashboard, invoicing, estimates, business management, responsive admin, POS system"
    />
    <meta name="author" content="UGACloud" />
    <meta name="robots" content="index, follow" />
    <title>Inventory Management</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/img/favicon.png' %}"
    />

    <!-- Load jQuery early in head to prevent ReferenceError -->
    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />

    <!-- Datetimepicker CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}"
    />

    <!-- animation CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" />

    <!-- Select2 CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/select2/css/select2.min.css' %}"
    />

    <!-- Daterangepikcer CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/daterangepicker/daterangepicker.css' %}"
    />

    <!-- Tabler Icon CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/tabler-icons/tabler-icons.min.css' %}"
    />

    <!-- Summernote CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/summernote/summernote-bs4.min.css' %}"
    />

    <!-- Datatable CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/dataTables.bootstrap5.min.css' %}"
    />

    <!-- Bootstrap Tagsinput CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}"
    />

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/feather.css' %}" />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}"
    />

    <!-- Color Picker Css -->
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/@simonwep/pickr/themes/nano.min.css' %}"
    />

    <!-- Owl Carousel CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/owlcarousel/owl.carousel.min.css' %}"
    />

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  </head>

  <body class="menu-horizontal">
    <div id="global-loader">
      <div class="whirly-loader"></div>
    </div>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <div class="header">
        <div class="main-header">
          <!-- Logo -->
          <div class="header-left active">
         
            <a href="{% url 'index_page' %}" class="logo logo-normal">
              <img src="{{organization.logo.url}}" alt="Img" />
            </a>
            <a href="{% url 'index_page' %}" class="logo logo-white">
              <img src="{% static 'assets/img/logo-white.svg' %}" alt="Img" />
            </a>
            <a href="{% url 'index_page' %}" class="logo-small">
              <img src="{% static 'assets/img/logo-small.png' %}" alt="Img" />
            </a>
          </div>
          <!-- /Logo -->

          <a id="mobile_btn" class="mobile_btn" href="#sidebar">
            <span class="bar-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>

          <!-- Header Menu -->
          <ul class="nav user-menu">
            <!-- Search -->
            <li class="nav-item nav-searchinputs">
              <div class="top-nav-search">
                <a href="javascript:void(0);" class="responsive-search">
                  <i class="fa fa-search"></i>
                </a>
                <form action="#" class="dropdown">
                  <div
                    class="searchinputs input-group dropdown-toggle"
                    id="dropdownMenuClickable"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                  >
                    <input type="text" placeholder="Search" />
                    <div class="search-addon">
                      <span><i class="ti ti-search"></i></span>
                    </div>
                    <span class="input-group-text">
                      <kbd class="d-flex align-items-center"
                        ><img
                          src="{% static 'assets/img/icons/command.svg' %}"
                          alt="img"
                          class="me-1"
                        />K</kbd
                      >
                    </span>
                  </div>
                  <div
                    class="dropdown-menu search-dropdown"
                    aria-labelledby="dropdownMenuClickable"
                  >
                    <div class="search-info">
                      <h6>
                        <span
                          ><i
                            data-feather="search"
                            class="feather-16"
                          ></i></span
                        >Recent Searches
                      </h6>
                      <ul class="search-tags">
                        <li><a href="javascript:void(0);">Products</a></li>
                        <li><a href="javascript:void(0);">Sales</a></li>
                        <li><a href="javascript:void(0);">Applications</a></li>
                      </ul>
                    </div>
                    <div class="search-info">
                      <h6>
                        <span
                          ><i
                            data-feather="help-circle"
                            class="feather-16"
                          ></i></span
                        >Help
                      </h6>
                      <p>
                        How to Change Product Volume from 0 to 200 on Inventory
                        management
                      </p>
                      <p>Change Product Name</p>
                    </div>
                    <div class="search-info">
                      <h6>
                        <span
                          ><i data-feather="user" class="feather-16"></i></span
                        >Customers
                      </h6>
                      <ul class="customers">
                        <li>
                          <a href="javascript:void(0);"
                            >Aron Varu<img
                              src="{% static 'assets/img/profiles/avator1.jpg' %}"
                              alt="Img"
                              class="img-fluid"
                          /></a>
                        </li>
                        <li>
                          <a href="javascript:void(0);"
                            >Jonita<img
                              src="{% static 'assets/img/profiles/avatar-01.jpg' %}"
                              alt="Img"
                              class="img-fluid"
                          /></a>
                        </li>
                        <li>
                          <a href="javascript:void(0);"
                            >Aaron<img
                              src="{% static 'assets/img/profiles/avatar-10.jpg' %}"
                              alt="Img"
                              class="img-fluid"
                          /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <!-- /Search -->

            <!-- Select Store -->
            <li
              class="nav-item dropdown has-arrow main-drop select-store-dropdown"
            >
              <a
                href="javascript:void(0);"
                class="dropdown-toggle nav-link select-store"
                data-bs-toggle="dropdown"
              >
                <span class="user-info">
                  <span class="user-letter">
                    <img
                      src="{% static 'assets/img/store/store-01.png' %}"
                      alt="Store Logo"
                      class="img-fluid"
                    />
                  </span>
                  <span class="user-detail">
                    <span class="user-name">Warehouse</span>
                  </span>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="javascript:void(0);" class="dropdown-item">
                  <img
                    src="{% static 'assets/img/store/store-01.png' %}"
                    alt="Store Logo"
                    class="img-fluid"
                  />Display
                </a>
                <a href="javascript:void(0);" class="dropdown-item">
                  <img
                    src="{% static 'assets/img/store/store-02.png' %}"
                    alt="Store Logo"
                    class="img-fluid"
                  />Main Store
                </a>
              </div>
            </li>
            <!-- /Select Store -->

            {% comment %} <li class="nav-item dropdown link-nav">
              <a
                href="javascript:void(0);"
                class="btn btn-primary btn-md d-inline-flex align-items-center"
                data-bs-toggle="dropdown"
              >
                <i class="ti ti-circle-plus me-1"></i>Add New
              </a>
              <div class="dropdown-menu dropdown-xl dropdown-menu-center">
                <div class="row g-2">
                  <div class="col-md-2">
                    <a
                      href="{% url 'under_maintenance_page' %}"
                      class="link-item"
                    >
                      <span class="link-icon">
                        <i class="ti ti-brand-codepen"></i>
                      </span>
                      <p>Category</p>
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a
                      href="{% url 'under_maintenance_page' %}"
                      class="link-item"
                    >
                      <span class="link-icon">
                        <i class="ti ti-square-plus"></i>
                      </span>
                      <p>Product</p>
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a
                      href="{% url 'under_maintenance_page' %}"
                      class="link-item"
                    >
                      <span class="link-icon">
                        <i class="ti ti-shopping-bag"></i>
                      </span>
                      <p>Purchase</p>
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a
                      href="{% url 'under_maintenance_page' %}"
                      class="link-item"
                    >
                      <span class="link-icon">
                        <i class="ti ti-shopping-cart"></i>
                      </span>
                      <p>Sale</p>
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a
                      href="{% url 'under_maintenance_page' %}"
                      class="link-item"
                    >
                      <span class="link-icon">
                        <i class="ti ti-file-text"></i>
                      </span>
                      <p>Expense</p>
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a
                      href="{% url 'under_maintenance_page' %}"
                      class="link-item"
                    >
                      <span class="link-icon">
                        <i class="ti ti-device-floppy"></i>
                      </span>
                      <p>Quotation</p>
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a
                      href="{% url 'under_maintenance_page' %}"
                      class="link-item"
                    >
                      <span class="link-icon">
                        <i class="ti ti-copy"></i>
                      </span>
                      <p>Return</p>
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a
                      href="{% url 'under_maintenance_page' %}"
                      class="link-item"
                    >
                      <span class="link-icon">
                        <i class="ti ti-user"></i>
                      </span>
                      <p>User</p>
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a
                      href="{% url 'under_maintenance_page' %}"
                      class="link-item"
                    >
                      <span class="link-icon">
                        <i class="ti ti-users"></i>
                      </span>
                      <p>Customer</p>
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a
                      href="{% url 'under_maintenance_page' %}"
                      class="link-item"
                    >
                      <span class="link-icon">
                        <i class="ti ti-shield"></i>
                      </span>
                      <p>Biller</p>
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a
                      href="{% url 'under_maintenance_page' %}"
                      class="link-item"
                    >
                      <span class="link-icon">
                        <i class="ti ti-user-check"></i>
                      </span>
                      <p>Supplier</p>
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a
                      href="{% url 'under_maintenance_page' %}"
                      class="link-item"
                    >
                      <span class="link-icon">
                        <i class="ti ti-truck"></i>
                      </span>
                      <p>Transfer</p>
                    </a>
                  </div>
                </div>
              </div>
            </li> {% endcomment %}
            <li class="nav-item nav-item-box">
              <a href="javascript:void(0);" id="btnFullscreen">
                <i class="ti ti-maximize"></i>
              </a>
            </li>
            {% comment %}
            <li class="nav-item nav-item-box">
              <a href="{% url 'under_maintenance_page' %}">
                <i class="ti ti-mail"></i>
                <span class="badge rounded-pill">1</span>
              </a>
            </li>
            {% endcomment %}
            <!-- Notifications -->
            <li class="nav-item dropdown nav-item-box">
              <a
                href="javascript:void(0);"
                class="dropdown-toggle nav-link"
                data-bs-toggle="dropdown"
              >
                <i class="ti ti-bell"></i>
              </a>
              <div class="dropdown-menu notifications">
                <div class="topnav-dropdown-header">
                  <h5 class="notification-title">Notifications</h5>
                  <a href="javascript:void(0)" class="clear-noti"
                    >Mark all as read</a
                  >
                </div>
                <div class="noti-content">
                  <ul class="notification-list">
                    <li class="notification-message">
                      <a href="{% url 'under_maintenance_page' %}">
                        <div class="media d-flex">
                          <span class="avatar flex-shrink-0">
                            <img
                              alt="Img"
                              src="{% static 'assets/img/profiles/avatar-13.jpg' %}"
                            />
                          </span>
                          {% comment %} <div class="flex-grow-1">
                            <p class="noti-details">
                              <span class="noti-title">James Kirwin</span>
                              confirmed his order. Order No: #78901.Estimated
                              delivery: 2 days
                            </p>
                            <p class="noti-time">4 mins ago</p>
                          </div> {% endcomment %}
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div
                  class="topnav-dropdown-footer d-flex align-items-center gap-3"
                >
                  <a href="#" class="btn btn-secondary btn-md w-100">Cancel</a>
                  <a
                    href="{% url 'under_maintenance_page' %}"
                    class="btn btn-primary btn-md w-100"
                    >View all</a
                  >
                </div>
              </div>
            </li>
            <!-- /Notifications -->

            <li class="nav-item nav-item-box">
              <a href="{% url 'under_maintenance_page' %}"
                ><i class="ti ti-settings"></i
              ></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown has-arrow main-drop profile-nav">
              <a
                href="javascript:void(0);"
                class="nav-link userset"
                data-bs-toggle="dropdown"
              >
                <span class="user-info p-0">
                  <!-- <span class="user-letter">
                    <img
                      src="{% static 'assets/img/profiles/avator1.jpg' %}"
                      alt="Img"
                      class="img-fluid"
                    />
                  </span> -->
                  <span class="user-detail d-none d-lg-flex flex-column text-start ms-2">
                    <span class="user-name fw-semibold text-dark">
                      {{ user.get_full_name|default:user.username }}
                    </span>
                    <span class="text-muted small">
                      {% if user_roles %}
                        {{ user_roles|join:", " }}
                      {% else %}
                        No roles assigned
                      {% endif %}
                    </span>
                  </span>
                </span>
              </a>
              <div class="dropdown-menu menu-drop-user">
                <div class="profileset d-flex align-items-center">
                  <!-- <span class="user-img me-2">
                    <img
                      src="{% static 'assets/img/profiles/avator1.jpg' %}"
                      alt="Img"
                    />
                  </span> -->
                  <div>
                    <h6 class="fw-medium">{{user.first_name}}</h6>
                    <p>{{user.username}}</p>
                    <div class="d-flex flex-wrap gap-1 mt-2">
                      {% if user_roles %}
                        {% for role_name in user_roles %}
                          <span class="badge bg-primary-subtle text-primary fw-semibold">
                            {{ role_name }}
                          </span>
                        {% endfor %}
                      {% else %}
                        <span class="text-muted small">No roles assigned yet</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <a
                  class="dropdown-item"
                  href="{% url 'profile_details' %}"
                  ><i class="ti ti-user-circle me-2"></i>MyProfile</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'under_maintenance_page' %}"
                  ><i class="ti ti-settings-2 me-2"></i>Settings</a
                >
                <hr class="my-2" />
                <a class="dropdown-item logout pb-0" href="{% url 'login' %}"
                  ><i class="ti ti-logout me-2"></i>Logout</a
                >
              </div>
            </li>
            {% endif %}
          </ul>
          <!-- /Header Menu -->

          <!-- Mobile Menu -->
          <div class="dropdown mobile-user-menu">
            <a
              href="javascript:void(0);"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"(
    users_list_view, user_create_view, user_edit_view, user_detail_view,
    user_delete_view, user_assign_role_view, user_unassign_role_view
)
              aria-expanded="false"
              ><i class="fa fa-ellipsis-v"></i
            ></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'profile_details' %}">My Profile</a>
              <a class="dropdown-item" href="general-settings.html">Settings</a>
              <a class="dropdown-item" href="signin.html">Logout</a>
            </div>
          </div>
          <!-- /Mobile Menu -->
        </div>
      </div>
      <!-- /Header -->

      <!-- Sidebar -->
      <div class="sidebar sidebar-horizontal" id="horizontal-menu">
        <div id="sidebar-menu-3" class="sidebar-menu">
          <div class="main-menu">
            {% if app_menu %}
              {% include "basic/menu_recursive.html" with items=app_menu is_child=False %}
            {% else %}
              <div class="p-3 text-muted small">
                No navigation modules assigned to your roles yet.
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- /Sidebar -->

      <div class="page-wrapper">
        <div class="content">
          <!-- Session Timeout Warning -->
          {% if request.session.timeout_warning %}
          <div class="alert alert-warning alert-dismissible fade show" id="timeout-warning">
            <strong>Warning!</strong> Your session will expire in a few minutes due to inactivity. 
            <a href="javascript:void(0);" onclick="extendSession()" class="alert-link">Click here to extend your session</a>.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              <i class="fas fa-xmark"></i>
            </button>
          </div>
          {% endif %}

      <script>
      // Session timeout client-side helper
      (function(){
        try {
          const warningEl = document.getElementById('timeout-warning');
          // server provides seconds left in session via session variable
          {% if request.session.session_seconds_left %}
            const secondsLeft = {{ request.session.session_seconds_left }};
          {% else %}
            const secondsLeft = null;
          {% endif %}
          if (warningEl && typeof secondsLeft === 'number') {
            let sl = secondsLeft;
            const timerSpan = document.createElement('span');
            timerSpan.style.marginLeft = '8px';
            warningEl.appendChild(timerSpan);

            const tick = () => {
              if (sl <= 0) {
                timerSpan.textContent = '(expired)';
                return;
              }
              const mins = Math.floor(sl / 60);
              const secs = sl % 60;
              timerSpan.textContent = `(expires in ${mins}m ${secs}s)`;
              sl -= 1;
              setTimeout(tick, 1000);
            };
            tick();
          }
        } catch (e) {
          console.warn('Session timer init failed', e);
        }
      })();

      function extendSession(){
        // Touch the server to extend session (simple GET to home)
        fetch('/', { credentials: 'same-origin' }).then(()=>{
          // reload to refresh session flags
          window.location.reload();
        }).catch(()=>{
          window.location.reload();
        });
      }
      </script>

          <!-- Messages -->
          {% if messages %} {% for message in messages %}
          <div
            class="alert alert-solid-{{message.tags}} alert-dismissible fade show"
          >
            <strong>
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} Error
              {%else %} {{ message.tags|title }} {% endif %}!
            </strong>
            {{ message }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            >
              <i class="fas fa-xmark"></i>
            </button>
          </div>

          {% endfor %} {% endif %}
          <!-- /Messages -->

          {% block content %}{% endblock content %}
        </div>
        <div
          class="copyright-footer d-flex align-items-center justify-content-between border-top bg-white gap-3 flex-wrap"
        >
          <p class="fs-13 text-gray-9 mb-0">
            2025 &copy; UGACloud. All Right Reserved
          </p>
          <p>
            Designed & Developed By
            <a href="javascript:void(0);" class="link-primary">UGACloud</a>
          </p>
        </div>
      </div>
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery (already loaded in head, remove duplicate if exists) -->
    <!-- <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script> -->

    <!-- Feather Icon JS -->
    <script src="{% static 'assets/js/feather.min.js' %}"></script>

    <!-- Slimscroll JS -->
    <script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Datatable JS -->
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.bootstrap5.min.js' %}"></script>

    <!-- Summernote JS - FIXED PATH -->
    <script src="{% static 'assets/plugins/summernote/summernote-bs4.min.js' %}"></script>

    <!-- Daterangepikcer JS -->
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <!-- Chart JS -->
    <script src="{% static 'assets/plugins/chartjs/chart.min.js' %}"></script>
    <script src="{% static 'assets/plugins/chartjs/chart-data.js' %}"></script>

    <!-- Select2 JS -->
    <script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>
   
    <!-- Custom Select JS - FIXED PATH -->
    <!-- <script src="{% static 'assets/plugins/select2/js/custom-select.js' %}"></script> -->

    <!-- Chart JS -->
    <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>

    <!-- Bootstrap Tagsinput JS -->
    <script src="{% static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>

    <!-- Color Picker JS -->
    <script src="{% static 'assets/plugins/@simonwep/pickr/pickr.es5.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'assets/js/theme-colorpicker.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

<!-- Owl JS -->
    <script src="{% static 'assets/plugins/owlcarousel/owl.carousel.min.js' %}"></script>

{% block custom_JS %}{% endblock custom_JS %}







<script>
    // Safe forEach function that handles undefined/null
    function safeForEach(collection, callback) {
        if (!collection || typeof collection.forEach !== 'function') {
            console.warn('safeForEach: Collection is undefined or not iterable', collection);
            return;
        }
        collection.forEach(callback);
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Check if jQuery is loaded
        if (typeof jQuery === 'undefined') {
            console.error('jQuery is not loaded. Some features may not work.');
            return;
        }

        // Initialize select2 with proper error handling
        if (typeof jQuery.fn.select2 !== 'undefined') {
            $('.select2').select2();
        } else {
            console.warn('Select2 is not loaded');
        }

        // Initialize Summernote if available
        if (typeof jQuery.fn.summernote !== 'undefined') {
            $('.summernote').summernote();
        } else {
            console.warn('Summernote is not loaded');
        }

        // SAFE ELEMENT PROCESSING - Replace all forEach calls with safe versions
        try {
            // Example 1: Safe navigation items processing
            const navItems = document.querySelectorAll('.nav-item');
            safeForEach(navItems, function(item) {
                // Your nav item processing code
            });

            // Example 2: Safe dropdown processing
            const dropdowns = document.querySelectorAll('.dropdown');
            safeForEach(dropdowns, function(dropdown) {
                // Your dropdown processing code
            });

            // Example 3: Safe table row processing
            const tableRows = document.querySelectorAll('tr') || [];
            safeForEach(tableRows, function(row) {
                // Your row processing code
            });

        } catch (error) {
            console.error('Error in DOM processing:', error);
        }

    // Session timeout management
    {% if settings.SESSION_COOKIE_AGE %}
      let sessionTimeout = {{ settings.SESSION_COOKIE_AGE }} * 1000;
    {% else %}
      let sessionTimeout = 600 * 1000; // default 10 minutes
    {% endif %}
    {% if settings.SESSION_WARNING_SECONDS %}
      let warningTime = {{ settings.SESSION_WARNING_SECONDS }} * 1000;
    {% else %}
      let warningTime = 5 * 60 * 1000; // default 5 minutes
    {% endif %}
        let timeoutWarning;
        let autoLogout;
        
        function resetSessionTimer() {
            clearTimeout(timeoutWarning);
            clearTimeout(autoLogout);
            
            timeoutWarning = setTimeout(function() {
                showTimeoutWarning();
            }, sessionTimeout - warningTime);
            
            autoLogout = setTimeout(function() {
                window.location.href = "{% url 'login' %}?timeout=1";
            }, sessionTimeout);
        }
        
        function showTimeoutWarning() {
            if (!document.getElementById('timeout-warning')) {
                let warningDiv = document.createElement('div');
                warningDiv.id = 'timeout-warning';
                warningDiv.className = 'alert alert-warning alert-dismissible fade show';
                warningDiv.innerHTML = `
                    <strong>Warning!</strong> Your session will expire in 5 minutes due to inactivity. 
                    <a href="javascript:void(0);" onclick="extendSession()" class="alert-link">Click here to extend your session</a>.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <i class="fas fa-xmark"></i>
                    </button>
                `;
                const content = document.querySelector('.content');
                if (content) {
                    content.insertBefore(warningDiv, content.firstChild);
                }
            }
        }
        
        window.extendSession = function() {
            fetch('{% url "extend_session" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    resetSessionTimer();
                    let warning = document.getElementById('timeout-warning');
                    if (warning) {
                        warning.remove();
                    }
                }
            })
            .catch(error => console.error('Error extending session:', error));
        }
        
        // FIXED: Safe event listener attachment - Proper array declaration
        const events = ['mousedown', 'mousemove', 'keypress', 'scroll', 'touchstart', 'click'];
        safeForEach(events, function(event) {
            if (document && document.addEventListener) {
                document.addEventListener(event, resetSessionTimer, true);
            }
        });
        
        resetSessionTimer();
    });
</script>



</body>


</html>