{% comment %}
Recursive menu renderer for dynamic RBAC-aware navigation.
Expects `items` (list of dicts with keys: label, url_name, icon, children).
{% endcomment %}
{% if items %}
<ul class="{% if not is_child %}nav-menu{% endif %}">
    {% for item in items %}
        {% with child_items=item.children %}
        {% with has_children=child_items|length %}
        <li class="{% if has_children %}submenu{% endif %}">
            {% if item.url_name %}
                <a href="{% url item.url_name %}">
                    {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                    <span> {{ item.label }} </span>{% if has_children %} <span class="menu-arrow"></span>{% endif %}
                </a>
            {% else %}
                <a href="javascript:void(0);">
                    {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                    <span> {{ item.label }} </span>{% if has_children %} <span class="menu-arrow"></span>{% endif %}
                </a>
            {% endif %}
            {% if has_children %}
                {% include 'basic/menu_recursive.html' with items=child_items is_child='submenu' %}
            {% endif %}
        </li>
        {% endwith %}
        {% endwith %}
    {% endfor %}
</ul>
{% endif %}

