<ul class="nav-menu">

    <li class="submenu">
        <a href="{% url 'index_page' %}"
            ><i class="ti ti-layout-grid fs-16 me-2"></i
            ><span> Main Menu</span> <span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'index_page' %}"
                ><span>Dashboard</span></a
            >
            </li>
        </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-brand-unity fs-16 me-2"></i
        ><span> Inventory </span> <span class="menu-arrow"></span
    ></a>
    <ul>
        <li>
        <a href="{% url 'products_page' %}"
            ><span>Products</span></a
        >
        </li>
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-layout-grid fs-16 me-2"></i
        ><span>Stock</span> <span class="menu-arrow"></span
    ></a>
    <ul>
        <li>
        <a href="{% url 'transfer_request_list' %}"
            ><span>Stock Requests </span></a
        >
        </li>
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-layout-grid fs-16 me-2"></i
        ><span>Sales</span> <span class="menu-arrow"></span
    ></a>
    <ul>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Sales</span><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'record_sale' %}"
                ><span>Record Sale</span></a
            >
            </li>
            <li>
            <a href="{% url 'sales_list' %}"
                ><span>Sales List</span></a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                ><span>Sales Return</span></a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                ><span>Customer Payment </span></a
            >
            </li>
        </ul>
        </li>
        
    </ul>
    </li>
    <li class="submenu">
        <a href="javascript:void(0);"
            ><i class="ti ti-users-group fs-16 me-2"></i
            ><span>Finance</span> <span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'expensecategory_list' %}"
                >Expense Category</a
            >
            </li>
            <li>
            <a href="{% url 'expense_list' %}">Expenses</a>
            </li>
        </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-chart-bar fs-16 me-2"></i><span>Reports</span
        ><span class="menu-arrow"></span
    ></a>
    <ul>
        <li class="submenu">
            <a href="javascript:void(0);"
                ><span>Sales Report</span><span class="menu-arrow"></span
            ></a>
            <ul>
                <li>
                <a href="{% url 'branch_sales_report' %}"
                    >Branch Sales Report</a
                >
                </li>
                <li>
                <a href="{% url 'sales_item_unit_report' %}"
                    >Sales Item Report</a
                >
                </li>
            </ul>
        </li>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Customer Report</span
            ><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Customer Report</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Customer Due Report</a
            >
            </li>
        </ul>
        </li>
    </ul>
    </li>
</ul>