<ul class="nav-menu">
    
    <li class="submenu">
    <a href="{% url 'index_page' %}"
        ><i class="ti ti-layout-grid fs-16 me-2"></i
        ><span> Main Menu</span> <span class="menu-arrow"></span
    ></a>
    <ul>
        <li>
        <a href="{% url 'index_page' %}"
            ><span>Dashboard</span></a
        >
        </li>
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-brand-unity fs-16 me-2"></i
        ><span> Inventory </span> <span class="menu-arrow"></span
    ></a>
    <ul>
        <li>
        <a href="{% url 'products_page' %}"
            ><span>Products</span></a
        >
        <a href="{% url 'all_stores_inventory' %}"
            ><span>Stores</span></a
        >
        </li>
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-layout-grid fs-16 me-2"></i
        ><span>Stock</span> <span class="menu-arrow"></span
    ></a>
    <ul>
        {% comment %} <li>
        <a href="{% url 'transfer_request_list' %}"
            ><span>Request Stock</span></a
        >
        </li> {% endcomment %}
        <li>
        <a href="{% url 'stock_transfer_list' %}"
            ><span>Stock Transfers</span></a
        >
        </li>
    </ul>
    </li>
    <li class="submenu">
    <a href="javascript:void(0);"
        ><i class="ti ti-chart-bar fs-16 me-2"></i><span>Reports</span
        ><span class="menu-arrow"></span
    ></a>
    <ul>
        <li class="submenu">
        <a href="javascript:void(0);"
            ><span>Inventory Report</span
            ><span class="menu-arrow"></span
        ></a>
        <ul>
            <li>
            <a href="{% url 'under_maintenance_page' %}"
                >Inventory Report</a
            >
            </li>
            <li>
            <a href="{% url 'under_maintenance_page' %}">
                History</a
            >
            </li>
        </ul>
        </li>
        <li class="submenu">
            <a href="javascript:void(0);"
                ><span>Sales Report</span><span class="menu-arrow"></span
            ></a>
            <ul>
                <li>
                <a href="{% url 'branch_sales_report' %}"
                    >Branch Sales Report</a
                >
                </li>
                <li>
                <a href="{% url 'sales_item_unit_report' %}"
                    >Sales Item Report</a
                >
                </li>
            </ul>
        </li>
    </ul>
    </li>
</ul>