
{% extends './basic/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-lg-12 tm-md-12 tm-sm-12 tm-col">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col">
                            <h2 class="tm-block-title d-inline-block">Add Category</h2>
                        </div>
                    </div>
                    <div class="row mt-4 tm-edit-product-row">
                        <div class="col">

                            <form action="" method = "POST" class="tm-edit-product-form">
                                {% csrf_token %}
                                {{form|crispy}}
                                <input type = "Submit">
                            
                            </form>


                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12 tm-md-12 tm-sm-12 tm-col">
                <div class="bg-white tm-block h-100">
                    <h2 class="tm-block-title d-inline-block">Product Categories</h2>

                    <table class="table table-hover table-striped mt-3">
                        <tbody>

                            {% if categories %}
                            <tr>
                                <th>Category</th>
                                <th>No. of Products</th>
                                <th>#</th>
                            </tr>

                            {% for category in categories %}
                            <tr>
                                <td>{{category.id}}. {{category.name}}</td>
                                <td>{{category.no_of_products}}</td>
                                <td class="tm-trash-icon-cell"><a href = "{% url 'delete_category' category.id %}"  class="fas fa-trash-alt tm-trash-icon"></a></td>
                            </tr>
                            {% endfor %}

                            {% else %}
                                    <tr>
                                <p>No Categories Available</p>
                                    </tr>
                            {% endif %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        

    {% endblock %}
    
    <script>
        $(function () {
            $('#expire_date').datepicker();
        });
    </script>
</body>

</html>