{% load crispy_forms_tags %} {% load static %} {% block content%}
<div
  class="d-flex table-dropdown my-xl-auto right-content align-items-center flex-wrap row-gap-3"
>
  <form method="get" id="store-filter-form" class="d-flex align-items-center">
    <label for="store-select" class="me-2 mb-0">Store:</label>
    <select
      name="store"
      id="store-select"
      class="form-select"
      onchange="this.form.submit()"
    >
      <option value="">All Stores</option>
      {% for store in stores %}
      <option
        value="{{ store.id }}"
        {%
        if
        selected_store
        and
        store.id=""
        ="selected_store.id"
        %}selected{%
        endif
        %}
      >
        {{ store.name }}
      </option>
      {% endfor %}
    </select>
  </form>
</div>
<div class="table-responsive">
  <table class="table datatable">
    <thead class="thead-light">
      <tr>
        <th class="no-sort">
          <label class="checkboxs">
            <input type="checkbox" id="select-all" />
            <span class="checkmarks"></span>
          </label>
        </th>
        <th>#</th>
        <th>Date</th>
        <th>Store</th>
        <th>Transaction Type</th>
        <th>Transaction Id</th>
        <th>Quantity</th>
        <th>Balance</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      {% if stock_movements %} {% for transaction in stock_movements %}
      <tr>
        <td>
          <label class="checkboxs">
            <input type="checkbox" />
            <span class="checkmarks"></span>
          </label>
        </td>
        <td>{{forloop.counter}}</td>
        <td>
          <div class="d-flex align-items-center">
            <a href="javascript:void(0);">{{transaction.timestamp}}</a>
          </div>
        </td>
        <td>{{transaction.store}}</td>
        <td>{{transaction.transaction_type}}</td>
        <td>{{transaction.transaction_id}}</td>
        <td>{{transaction.quantity}}</td>
        <td>{{transaction.units_in_stock}}</td>
        <td>{{transaction.note}}</td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}
