{% extends './base.html' %}

{% load crispy_forms_tags %}
{% block content%}
    <body class="bg03">
    <div class="container">
        <div class="row tm-mt-big">
            <div class="col-12 mx-auto tm-login-col">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12 text-center">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon text-center"></i>
                            <h2 class="tm-block-title mt-3">Sales</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">

                            
                            <form action="" method="post" class="tm-login-form">
                            {% csrf_token %}
                                   {{form|crispy}}                                 
                                <input type = 'submit'></input>
                                
                            </form>
                            
                             <table class="table table-hover table-striped tm-table-striped-even mt-3">
                                <thead>
                                    
                                    <tr class="tm-bg-gray">
                                        <th scope="col">&nbsp;</th>
                                        
                                        <th scope="col" class="text-center">Customer</th>
                                        
                                        
                                        <th scope="col" class="text-center">Status</th>
                                        <th scope="col" class="text-center">Recorded By</th>
                                                                              
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for sale in sales %}
                                    <tr>
                                        <td scope="row">&nbsp;</td>
                                        
                                        <td>{{sale.customer}}</td>
                                        <td>{{sale.status}}</td>
                                        <td>{{sale.recorded_by}}</td>
                                    </tr>
                                    {% endfor %} 
                                    
                                    
                                </tbody>

                                </form>
                            </table>
                            
                            

                                </form>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}