{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<body class="bg03">
    <div class="container">
        <div class="row tm-mt-big">
            <div class="col-12 mx-auto tm-login-col">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12 text-center">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon text-center"></i>
                            <h2 class="tm-block-title mt-3">Sign Up</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">

                            
                            <form action="" method="post" class="tm-login-form">
                            {% csrf_token %}
                                   {{form|crispy}}
                                   {{message}}
                                   <button type="submit">Sign Up</button>
                                   <div><a href="{% url 'login_page' %}">Login</a></div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock%}